@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

body {
  background: url("images/bg-mobile.svg") no-repeat center top,
    hsl(257, 40%, 49%);
  background-size: 100% auto;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.illustration {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

#illustration-mockup {
  width: auto;
  height: auto;
}

.logo {
  margin-top: 2em;
  margin-left: 2em;
}
.logo-img {
  width: 40%;
}

.content {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 2.5em;
}

p {
  line-height: 1.5;
}

button {
  padding: 0.5em 3.5em;
  color: hsl(257, 40%, 49%);
  background-color: white;
  border-radius: 50px;
  border: none;
}

button:hover {
  background-color: hsl(300, 69%, 71%);
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 2em;
  justify-content: center;
  gap: 10px;
}

.icon {
  border: 1px solid white;
  padding: 0.6em;
  border-radius: 50%;
}

.icon:hover {
  border-color: hsl(300, 69%, 71%);
}

#social-icon:hover {
  fill: hsl(300, 69%, 71%);
}

@media (min-width: 1440px) {
  body {
    background: url("images/bg-desktop.svg") no-repeat left center,
      hsl(257, 40%, 49%);
    background-size: contain;
    height: 100vh;
    overflow: hidden;
  }

  .logo {
    margin-top: 2em;
    margin-left: 9em;
  }

  .logo-img {
    width: 15%;
  }

  #illustration-mockup {
    width: 600px;
    height: auto;
  }

  .content {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 75px;
    align-items: center;
    text-align: left;
  }

  h2 {
    width: 55%;
    line-height: 1.5;
    margin-top: 0;
  }

  button {
    padding: 1em 3.5em;
    color: hsl(257, 40%, 49%);
    background-color: white;
    border-radius: 50px;
    border: none;
  }

  .icons {
    position: absolute;
    bottom: 100px;
    right: 180px;
  }
}
